html {
  font-family: sans-serif;
  background-color: #fec;
}

header {
  background-color: #b1d3ba;
  text-align: center;
  background-image: url("../images/candy-1.jpg");
}

.contact {
  background-color: #fec;
}

h1 {
  font-family: Lobster, cursive;
  color: #fff;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  color: #f2706d;
  text-align: center;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  color: #f2706d;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  color: #f2706d;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: #4a564e;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fecb65;
}

.cimg {
  width: 16em;
}

label {
  font-family: "Nunito Sans", sans-serif;
  color: #4a564e;
}

.btn {
  background-color: #ffcb65;
  border-color: #ffcb65;
}

.candies {
  display: inline-block;
}

.chocolates {
  display: inline-block;
}

footer {
  background-color: #b1d3ba;
}
